$title-font-size: "2rem";
$title-font-family: Muli;

// grid
$grid-areas: "top-left top-middle top-right" "left middle right" "bottom bottom bottom";

// breakpoints
$breakpoint-small: "max-width: 400px";



